.body {
    font-family: sans-serif;
}

.box {
    background-color: lightgrey;
    size: 50px;
    }

.h1 {
    font-size: 30px;
    font-weight: bold;
}

.button {
    align-content: center;
    font-size: 15px;
    font-weight: normal;
}

.h2 {
    font-size: 20px;
}